.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;

  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem;
  @include responsive(tab-port) {
    font-size: 1.4rem;
    padding: 1rem 3rem;
  }
  @include responsive(phone) {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
  }
  &--green {
    background-image: linear-gradient(
      to left,
      $color-primary,
      $color-primary-dark
    );
    color: $color-white;
  }
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &--animated {
    animation-name: moveInBottom;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.75s;
    animation-fill-mode: backwards;
  }
  &--white::after {
    background-color: $color-white;
  }
  &--green::after {
    background-color: $color-primary;
  }
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}
.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    transform: translateY(0);
  }
}
